@charset "utf-8";
#top {
	background-color: #A2C500;
	width: 80%;
}
#top img {
	float: right;
	margin-left: 10px;
	border: 5px solid #D80003;
	width: 40%;
	height: auto;
}

#top p {
	font-family: georgia;
	font-size: 15px;
}
#bottom {
	width: 60%;
	background-color: #00B46E;
}
