@charset "utf-8";
#wrapper {
	width: 100%;
	max-width: 750px;
	background-color: hsla(0,0%,100%,1);
	margin-right: auto;
	margin-left: auto;
}
body {
	background-color: hsla(30,85%,32%,1);
	font-family: Verdana, Geneva, sans-serif;
}
img {
	display: block;
}
#header {
	overflow: auto;
	border-top: 10px solid hsla(0,0%,0%,1);
	border-right-color: hsla(0,0%,0%,1);
	border-bottom-color: hsla(0,0%,0%,1);
	border-left-color: hsla(0,0%,0%,1);
	height: auto;
	width: auto;
}
#mug {
	float: right;
	height: auto;
	width: 20%;
}
#flagBottom {
	background-color: hsla(0,0%,2%,1);
	padding-left: 42.933%;
	height: auto;
	width: 37.06666%;
}
#logo {
	margin-left: 13.333%;
	height: auto;
	width: 53.3333%;
}
#content {
	background-image: url(images/guitar.jpg);
	background-repeat: no-repeat;
	background-position: left;
	overflow: auto;
	border-bottom: 10px solid hsla(0,0%,0%,1);
	font-size: 14px;
}
#nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#main {
	float: left;
	width: 57.333%;
}
#sidebar {
	float: left;
	width: 23.333%;
	background-color: hsla(52,100%,89%,1);
}
#nav {
	float: left;
	width: 19.333%;
	background-color: hsla(37,69%,46%,1);
	color: hsla(0,0%,100%,1);
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	border-top: 0px solid hsla(0,0%,0%,1);
	border-right: 1px solid hsla(0,0%,0%,1);
	border-bottom: 1px solid hsla(0,0%,0%,1);
	border-left: 1px solid hsla(0,0%,0%,1);
}
#nav a {
	color: hsla(0,0%,100%,1);
	text-decoration: none;
	font-size: 15px;
}
#nav li {
	padding: 7px;
	border-top: 1px solid hsla(0,4%,5%,1);
	border-right: 0px solid hsla(0,4%,5%,1);
	border-bottom: 0px solid hsla(0,4%,5%,1);
	border-left: 0px solid hsla(0,4%,5%,1);
}
#nav a:hover {
	color: hsla(52,100%,89%,1);
}
#main p {
	border-bottom: 1px dotted hsla(0,0%,0%,1);
	border-top-color: hsla(0,0%,0%,1);
	border-right-color: hsla(0,0%,0%,1);
	border-left-color: hsla(0,0%,0%,1);
	padding-bottom: 15px;
}
#main img {
	float: right;
}
