@charset "utf-8";
body {
	font-family: verdana;
}
#wrapper {
	width: 100%;
	max-width: 760px;
}
#header img {
	padding: 1.3157%;
	width: 97.368%;
	height: auto;
}
#nav {
	background-color: #000066;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
}
#nav a {
	color: #FFFFFF;
	text-decoration: none;
}
#content h3 {
	font-size: 18px;
}
#content img {
	float: right;
	border: 1px solid #000000;
	margin-left: 10px;
	margin-bottom: 10px;
	height: auto;
	width: 63.157%;
}
#footer {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000066;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
