@charset "utf-8";


#nav {
	width: 91%;
	margin: 0 auto;
}
#nav ul {
	display: none;
}

#nav button {
  display: block;
}



.menu {
	z-index: 1000;
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 100%;
	background: #f1f1f1;
	position: absolute;
	text-align: center;
	font-size: 1em;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}

.menu li:hover {
  display: block;
  background: #ffffff;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}

.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #006;
}

.menu ul li a:hover {
  color: #666;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  color: #666;
}

.menu a:hover {
  text-decoration: none;
  color: #666;
}

#main {
	float: none;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
#sidebar {
	float: none;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
